<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
         activeByDefault="true"
         contentProvider="com.amazonaws.eclipse.explorer.lambda.LambdaContentProvider"
         id="com.amazonaws.eclipse.explorer.LambdaContent"
         labelProvider="com.amazonaws.eclipse.explorer.lambda.LambdaLabelProvider"
         name="AWS Lambda"
         priority="normal">
      <triggerPoints>
          <instanceof value="com.amazonaws.eclipse.explorer.AWSResourcesRootElement" />
      </triggerPoints>
      <!--
          The set of possible children is the elements that will
        trigger the right-click popup menu, as well as our drag and drop
        sources / targets.
       -->
      <possibleChildren>
        <or>
            <instanceof value="com.amazonaws.eclipse.explorer.lambda.LambdaContentProvider$LambdaRootElement" />
        </or>
      </possibleChildren>
      <actionProvider class="com.amazonaws.eclipse.explorer.lambda.LambdaActionProvider">
         <enablement>
            <or>
               <instanceof value="com.amazonaws.eclipse.explorer.lambda.LambdaContentProvider$LambdaRootElement"/>
               <instanceof value="com.amazonaws.eclipse.explorer.lambda.LambdaContentProvider$FunctionNode"/>
            </or>
         </enablement>
      </actionProvider>
    </navigatorContent>
  </extension>

  <extension point="org.eclipse.ui.editors">
     <editor class="com.amazonaws.eclipse.explorer.lambda.FunctionEditor"
             default="false"
             icon="icons/function.png"
             id="com.amazonaws.eclipse.explorer.lambda.FunctionEditor"
             name="AWS Lambda Function Editor">
     </editor>
  </extension>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.amazonaws.eclipse.sdk.category"
            class="com.amazonaws.eclipse.lambda.project.wizard.NewLambdaJavaFunctionProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/lambda-service.png"
            id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaJavaFunctionProjectWizard"
            name="AWS Lambda Java Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.amazonaws.eclipse.sdk.category"
            class="com.amazonaws.eclipse.lambda.project.wizard.NewServerlessProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/lambda-service.png"
            id="com.amazonaws.eclipse.lambda.project.wizard.NewServerlessProjectWizard"
            name="AWS Serverless Java Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.amazonaws.eclipse.sdk.category"
            class="com.amazonaws.eclipse.lambda.project.wizard.NewLambdaFunctionWizard"
            hasPages="true"
            icon="icons/function.png"
            id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaFunctionWizard"
            name="AWS Lambda Function"
            project="false">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaJavaFunctionProjectWizard"/>
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaFunctionWizard"/>
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.NewServerlessProjectWizard"/>
      </perspectiveExtension>

      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaJavaFunctionProjectWizard"/>
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.newLambdaFunctionWizard"/>
         <newWizardShortcut id="com.amazonaws.eclipse.lambda.project.wizard.NewServerlessProjectWizard"/>
      </perspectiveExtension>
   </extension>

   <!-- Lambda Java Project Wizard -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:com.amazonaws.eclipse.toolbar.dropDownMenu?after=java">
         <command commandId="com.amazonaws.eclipse.lambda.newLambdaJavaFunctionProjectCommand"
                  id="com.amazonaws.eclipse.lambda.newLambdaJavaFunctionProjectMenuItem"
                  label="New AWS Lambda Java Project...">
         </command>
         <command commandId="com.amazonaws.eclipse.lambda.newLambdaFunctionCommand"
                  id="com.amazonaws.eclipse.lambda.newLambdaFunctionMenuItem"
                  label="New AWS Lambda Function...">
         </command>
         <command commandId="com.amazonaws.eclipse.lambda.NewServerlessProjectCommand"
                  id="com.amazonaws.eclipse.lambda.NewServerlessProjectMenuItem"
                  label="New AWS Serverless Project...">
         </command>
     </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="com.amazonaws.eclipse.lambda.newLambdaJavaFunctionProjectCommand"
            name="New AWS Lambda Java Project"
            defaultHandler="com.amazonaws.eclipse.lambda.project.wizard.handler.NewLambdaJavaFunctionProjectHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
      <command id="com.amazonaws.eclipse.lambda.newLambdaFunctionCommand"
            name="New AWS Lambda Function"
            defaultHandler="com.amazonaws.eclipse.lambda.project.wizard.handler.NewLambdaFunctionHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
      <command id="com.amazonaws.eclipse.lambda.NewServerlessProjectCommand"
            name="New AWS Serverless Project"
            defaultHandler="com.amazonaws.eclipse.lambda.project.wizard.handler.NewServerlessProjectHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
   </extension>

   <!-- Upload Function to Lambda -->
   <!-- Right click on project -->
  <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="popup:com.amazonaws.eclipse.popup.menu?after=additions">
        <command
              commandId="com.amazonaws.eclipse.lambda.uploadFunctionToLambda"
              id="com.amazonaws.eclipse.lambda.uploadFunctionToLambdaMenuItem"
              label="Upload function to AWS Lambda..."
              style="push">
           <visibleWhen checkEnabled="false">
              <with variable="selection">
                  <iterate ifEmpty="false">
                      <adapt type="org.eclipse.core.resources.IProject">
                          <test forcePluginActivation="true"
                                property="org.eclipse.core.resources.projectNature"
                                value="org.eclipse.jdt.core.javanature"/>
                      </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
     </menuContribution>
     <menuContribution locationURI="popup:com.amazonaws.eclipse.popup.menu?after=additions">
        <command
              commandId="com.amazonaws.eclipse.lambda.invokeFunction"
              id="com.amazonaws.eclipse.lambda.invokeFunctionMenuItem"
              label="Run function on AWS Lambda..."
              style="push">
           <visibleWhen checkEnabled="false">
              <with variable="selection">
                  <iterate ifEmpty="false">
                      <adapt type="org.eclipse.core.resources.IProject">
                          <test forcePluginActivation="true"
                                property="org.eclipse.core.resources.projectNature"
                                value="org.eclipse.jdt.core.javanature"/>
                      </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
     </menuContribution>
     <menuContribution locationURI="popup:com.amazonaws.eclipse.popup.menu?after=additions">
        <command
              commandId="com.amazonaws.eclipse.lambda.DeployServerlessProject"
              id="com.amazonaws.eclipse.lambda.DeployServerlessProject"
              label="Deploy Serverless Project..."
              style="push">
           <visibleWhen checkEnabled="false">
              <with variable="selection">
                  <iterate ifEmpty="false">
                      <adapt type="org.eclipse.core.resources.IProject">
                          <test forcePluginActivation="true"
                                property="org.eclipse.core.resources.projectNature"
                                value="org.eclipse.jdt.core.javanature"/>
                      </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
     </menuContribution>
   </extension>

   <!-- Right click on editor view -->
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
            adaptable="true"
            id="com.amazonaws.eclipse.lambda.javaSourceEditorAction"
            objectClass="org.eclipse.ui.IEditorInput"
            nameFilter="*.java">
            <menu
                label="AWS Lambda"
                path="additions"
                id="com.amazonaws.eclipse.lambda.editor.contextMenu"
                icon="icons/lambda-service.png">
                <separator name="group" />
            </menu>
            <action class="com.amazonaws.eclipse.lambda.upload.wizard.editoraction.RunOnLambdaAction"
                enablesFor="1"
                id="com.amazonaws.eclipse.lambda.editor.runFunctionAction"
                label="Run function on AWS Lambda..."
                menubarPath="com.amazonaws.eclipse.lambda.editor.contextMenu/group" />
            <action class="com.amazonaws.eclipse.lambda.upload.wizard.editoraction.UploadToLambdaAction"
                enablesFor="1"
                id="com.amazonaws.eclipse.lambda.editor.uploadFunctionAction"
                label="Upload function to AWS Lambda..."
                menubarPath="com.amazonaws.eclipse.lambda.editor.contextMenu/group" />

            <action class="com.amazonaws.eclipse.lambda.serverless.wizard.editoraction.DeployServerlessAction"
                enablesFor="1"
                id="com.amazonaws.eclipse.lambda.editor.DeployServerlessAction"
                label="Deploy Serverless Project..."
                menubarPath="com.amazonaws.eclipse.lambda.editor.contextMenu/group" />
        </objectContribution>
    </extension>


  <extension point="org.eclipse.ui.commands">
     <command id="com.amazonaws.eclipse.lambda.uploadFunctionToLambda"
            name="Upload function to AWS Lambda"
            defaultHandler="com.amazonaws.eclipse.lambda.upload.wizard.handler.UploadFunctionToLambdaCommandHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
  </extension>

  <extension point="org.eclipse.ui.commands">
     <command id="com.amazonaws.eclipse.lambda.invokeFunction"
            name="Invoke Function"
            defaultHandler="com.amazonaws.eclipse.lambda.invoke.handler.InvokeFunctionHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
  </extension>

  <extension point="org.eclipse.ui.commands">
     <command id="com.amazonaws.eclipse.lambda.DeployServerlessProject"
            name="Deploy Serverless Project"
            defaultHandler="com.amazonaws.eclipse.lambda.serverless.handler.DeployServerlessProjectHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
  </extension>

  <!-- Lambda Project Decorator -->
  <extension point="org.eclipse.ui.decorators">
     <decorator id="com.amazonaws.eclipse.lambda.project.lambdaFunctionProjectDecorator"
            label="AWS Lambda Java Project Decorator"
            state="true"
            class="com.amazonaws.eclipse.lambda.project.LambdaFunctionProjectDecorator">
        <enablement>
            <or>
                <objectClass name="org.eclipse.core.resources.IProject" />
                <objectClass name="org.eclipse.jdt.core.IJavaProject" />
            </or>
        </enablement>
     </decorator>
  </extension>

</plugin>
