<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.datatools.connectivity.connectionProfile">
		<newWizard
			class="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.NewSimpleDBConnectionProfileWizard"
			icon="icons/new_db_element.gif"
			id="com.amazonaws.eclipse.datatools.enablement.simpledb.NewSimpleDBConnectionProfileWizard"
			name="%profile.simpledb.wizard.title" description="%profile.simpledb.wizard.description"
			profile="com.amazonaws.eclipse.datatools.enablement.simpledb.connectionProfile" />
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.SimpleDBProfilePropertyPage"
			id="com.amazonaws.eclipse.datatools.enablement.simpledb.profileProperties"
			name="%profile.simpledb.properties" objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
			<filter name="org.eclipse.datatools.profile.property.id"
				value="com.amazonaws.eclipse.datatools.enablement.simpledb.connectionProfile" />
		</page>
	</extension>

	<!--
		extension
		point="org.eclipse.datatools.connectivity.ui.driverPropertyEditor">
		<propertyEditor
		customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
		driverPropertyID="org.eclipse.datatools.connectivity.db.password"
		driverTemplateID="com.amazonaws.eclipse.datatools.enablement.simpledb.driverTemplate"
		id="com.amazonaws.eclipse.datatools.enablement.simpledb.driverTemplate.password">
		</propertyEditor> <propertyEditor
		customPropertyDescriptor="org.eclipse.datatools.connectivity.ui.PasswordTextPropertyDescriptor"
		driverPropertyID="org.eclipse.datatools.connectivity.db.password"
		driverTemplateID="com.amazonaws.eclipse.datatools.enablement.simpledb.other.driverTemplate"
		id="com.amazonaws.eclipse.datatools.enablement.simpledb.other.driverTemplate.password">
		</propertyEditor> </extension
	-->

	<extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
		<driverUIContributor
			class="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.drivers.SimpleDBDriverUIContributor"
			driverTemplateID="com.amazonaws.eclipse.datatools.enablement.simpledb.driverTemplate"
			id="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.drivers.SimpleDBDriverUIContributor">
		</driverUIContributor>
	</extension>

	<extension point="org.eclipse.datatools.connectivity.ui.driverUIContributor">
		<driverUIContributor
			class="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.drivers.SimpleDBOtherDriverUIContributor"
			driverTemplateID="com.amazonaws.eclipse.datatools.enablement.simpledb.other.driverTemplate"
			id="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.connection.drivers.SimpleDBOtherDriverUIContributor">
		</driverUIContributor>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
			<includes>
				<contentExtension
					pattern="com.amazonaws.eclipse.datatools.enablement.simpledb.SDBExplorerContent" />
			</includes>
		</viewerContentBinding>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			contentProvider="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.explorer.SimpleDBContentProviderExtension"
			id="com.amazonaws.eclipse.datatools.enablement.simpledb.SDBExplorerContent"
			labelProvider="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.explorer.SimpleDBLabelProviderExtension"
			priority="higher" activeByDefault="true"
			name="Database Explorer SimpleDB Content Extension">
			<commonSorter
				id="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider"
				class="org.eclipse.datatools.connectivity.sqm.core.internal.ui.services.ExplorerSorterProvider">
			</commonSorter>
			<actionProvider
				id="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentActionProvider"
				class="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentActionProvider">
				<enablement>
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.core.internal.ui.explorer.filter.IFilterNode" />
				</enablement>
			</actionProvider>
			<triggerPoints>
				<or>
					<instanceof value="org.eclipse.datatools.modelbase.sql.schema.SQLObject" />
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode" />
					<and>
						<instanceof
							value="org.eclipse.datatools.connectivity.IConnectionProfile" />
						<test
							property="org.eclipse.datatools.connectivity.profile.property.factoryID"
							value="org.eclipse.datatools.connectivity.sqm.core.connection.ConnectionInfo" />
					</and>
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentExtension" />
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.loading.LoadingNode" />
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.datatools.modelbase.sql.schema.SQLObject" />
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.core.ui.explorer.virtual.IVirtualNode" />
					<instanceof
						value="org.eclipse.datatools.connectivity.sqm.server.internal.ui.explorer.providers.SQLModelContentExtension" />
				</or>
			</possibleChildren>
			<override policy="InvokeOnlyIfSuppressedExtAlsoVisibleAndActive"
				suppressedExtensionId="org.eclipse.datatools.connectivity.db.sqlModelContent">
			</override>
		</navigatorContent>
	</extension>
	
	<extension point="com.amazonaws.eclipse.core.overview">
          <overviewSection title="Amazon SimpleDB Management" class="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.SimpleDBOverviewSection"/>          
 	</extension>
 	
 	<extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:com.amazonaws.eclipse.toolbar.dropDownMenu?after=simpleDB">
         <command commandId="com.amazonaws.eclipse.datatools.enablement.simpledb.ui.newSimpleDBConnectionCommand"
                  id="com.amazonaws.eclipse.datatools.enablement.simpledb.ui.newSimpleDBConnectionMenuItem"
                  label="Connect to Amazon SimpleDB...">
         </command>
         <command commandId="org.eclipse.ui.views.showView"
                  id="com.amazonaws.eclipse.datatools.enablement.simpledb.ui.showDataSourceExplorerViewMenuItem"
                  label="Show Data Source Explorer View">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
                  </parameter>
         </command>
     </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="com.amazonaws.eclipse.datatools.enablement.simpledb.ui.newSimpleDBConnectionCommand"
            name="Connection to Amazon SimpleDB"
            defaultHandler="com.amazonaws.eclipse.datatools.enablement.simpledb.internal.ui.menu.NewSimpleDBConnectionHandler"
            categoryId="com.amazonaws.commands.category">
      </command>
   </extension>
 	
</plugin>  
