<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.amazonaws.eclipse.rds.actions.importDatabases"
         name="Import RDS Databases Action"
         point="org.eclipse.ui.popupMenus">
   </extension>

  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
         activeByDefault="true"
         contentProvider="com.amazonaws.eclipse.explorer.rds.RDSContentProvider"
         id="com.amazonaws.eclipse.explorer.RDSContent"
         labelProvider="com.amazonaws.eclipse.explorer.rds.RDSLabelProvider"
         name="Amazon RDS"
         priority="normal">
      <triggerPoints>
          <instanceof value="com.amazonaws.eclipse.explorer.AWSResourcesRootElement" />
      </triggerPoints>
      <!--
          The set of possible children is the elements that will
        trigger the right-click popup menu, as well as our drag and drop
        sources / targets.
       -->
      <possibleChildren>
        <or>
          <instanceof value="com.amazonaws.eclipse.explorer.rds.RDSExplorerNodes$RdsRootElement" />
        </or>
      </possibleChildren>
      <actionProvider class="com.amazonaws.eclipse.explorer.rds.RDSExplorerActionProvider">
         <enablement>
            <or>
               <instanceof value="com.amazonaws.eclipse.explorer.rds.RDSExplorerNodes$RdsRootElement"/>
               <instanceof value="com.amazonaws.eclipse.explorer.rds.RDSExplorerNodes$DatabaseNode"/>
            </or>
         </enablement>
      </actionProvider>
    </navigatorContent>
  </extension>

  <extension point="org.eclipse.ui.decorators">
     <decorator
           class="com.amazonaws.eclipse.explorer.rds.DatabaseDecorator"
           id="com.amazonaws.eclipse.rds.decorator"
           label="RDS Decorator"
           lightweight="true"
           state="true">
         <enablement>
            <or>
               <objectClass name="com.amazonaws.eclipse.explorer.rds.RDSExplorerNodes$DatabaseNode"/>
            </or>
        </enablement>
     </decorator>
  </extension>

</plugin>
