<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
   </extension>
   
	<extension point="org.eclipse.ui.preferencePages">
	   <page
	         category="com.amazonaws.eclipse.core.ui.preferences.AwsAccountPreferencePage"
	         class="com.amazonaws.eclipse.android.sdk.preferences.AndroidSDKPreferencePage"
	         id="com.amazonaws.eclipse.android.sdk.preferences.AndroidSDKPreferencePage"
	         name="AWS SDK For Android">
	   </page>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
	   <initializer class="com.amazonaws.eclipse.android.sdk.preferences.PreferenceInitializer" />
	</extension>   

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.amazonaws.eclipse.sdk.category"
            class="com.amazonaws.eclipse.android.sdk.newproject.NewAndroidProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/aws-box.gif"
            id="com.amazonaws.eclipse.android.sdk.newProjectWizard"
            name="AWS Android Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="com.amazonaws.eclipse.android.sdk.newProjectWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut id="com.amazonaws.eclipse.android.sdk.newProjectWizard"/>
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.amazonaws.eclipse.android.sdk.classpath.AndroidSdkClasspathContainerInitializer"
            id="com.amazonaws.eclipse.android.sdk.AWS_ANDROID_SDK">
      </classpathContainerInitializer>
   </extension>

</plugin>
