<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <display-name>WorkerServlet</display-name>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>{PACKAGE_NAME}.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
