container_commands:
    1-remove-old-libraries:
        command: "rm -f /usr/share/tomcat7/lib/AmazonDynamoDBSessionManager*"
    2-copy-libraries:
        command: "cp WEB-INF/.ebextensions/*.jar /usr/share/tomcat7/lib/"
    3-replace-context:
        command: "cp WEB-INF/.ebextensions/context.xml /etc/tomcat7/context.xml"
