<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension
         point="org.eclipse.datatools.connectivity.sqm.core.databaseDefinition">
      <definition
            product="SimpleDB"
            version="1.0"
            productDisplayString="%ProductString"
            versionDisplayString="%VersionString"
            file="runtime/vendors/SimpleDB_1.0/SimpleDB_1.0.xmi">
      </definition>
   </extension>
</plugin>
