<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
         activeByDefault="true"
         contentProvider="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBContentProvider"
         id="com.amazonaws.eclipse.explorer.DynamoDBContent"
         labelProvider="com.amazonaws.eclipse.explorer.ExplorerNodeLabelProvider"
         name="Amazon DynamoDB"
         priority="normal">
      <triggerPoints>
          <instanceof value="com.amazonaws.eclipse.explorer.AWSResourcesRootElement" />
      </triggerPoints>
      <!--
          The set of possible children is the elements that will
        trigger the right-click popup menu, as well as our drag and drop
        sources / targets.
       -->
      <possibleChildren>
        <or>
          <!-- TODO -->
          <instanceof value="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBRootNode" />
          <instanceof value="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBTableNode"/>
        </or>
      </possibleChildren>
      <actionProvider class="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBExplorerActionProvider">
         <enablement>
            <or>
               <instanceof value="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBRootNode"/>
               <instanceof value="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBTableNode"/>
            </or>
         </enablement>
      </actionProvider>
    </navigatorContent>
  </extension>

   <!-- Custom query editor / results viewer with editable results table -->
   <extension point="org.eclipse.ui.editors">
       <editor
             class="com.amazonaws.eclipse.dynamodb.editor.DynamoDBTableEditor"
             default="false"
             icon="icons/table.png"
             id="com.amazonaws.eclipse.dynamodb.editor.tableEditor"
             name="Amazon DynamoDB Table Editor">
       </editor>
    </extension>
    
    <extension
         point="org.eclipse.ui.commands">
         <command
               id="com.amazonaws.eclipse.dynamodb.editor.runScan"
               name="Run scan">
         </command>
    </extension>
    <extension point="org.eclipse.ui.bindings">
        <key sequence="Ctrl+R"
            commandId="com.amazonaws.eclipse.dynamodb.editor.runScan"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
    </extension>
    
    <extension
         point="org.eclipse.ui.commands">
         <command
               id="org.eclipse.ui.file.save"
               name="Save changes to DynamoDB">
         </command>
    </extension>
    
    <extension point="org.eclipse.ui.preferencePages">
        <page
            category="com.amazonaws.eclipse.core.ui.preferences.AwsAccountPreferencePage"
            class="com.amazonaws.eclipse.dynamodb.preferences.TestToolPreferencePage"
            id="com.amazonaws.eclipse.dynamodb.preferences.TestToolPreferencePage"
            name="DynamoDB Local Test Tool">
        </page>
    </extension>
    
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="com.amazonaws.eclipse.dynamodb.preferences.PreferenceInitializer" />
    </extension>
    
    <extension point="org.eclipse.ui.decorators">
       <decorator
           class="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBTableNodeDecorator"
           id="com.amazonaws.eclipse.explorer.dynamodb.decorator"
           label="DynamoDB Table Decorator"
           lightweight="true"
           state="true">
         <enablement>
           <objectClass name="com.amazonaws.eclipse.explorer.dynamodb.DynamoDBTableNode"/>
         </enablement>
       </decorator>
     </extension>
    
 </plugin>
