<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.amazonaws.eclipse.datatools.sqltools.db.simpledb"
         name="SimpleDB configuration"
         point="org.eclipse.datatools.sqltools.editor.core.dbConfigurations">
      <dbConfiguration
            configurationClass="com.amazonaws.eclipse.datatools.sqltools.db.simpledb.SimpleDBConfiguration"
            product="SimpleDB"
            version="1.0">
      </dbConfiguration>
   </extension>

</plugin>
