{
  "Description": "A simple Lambda function saying \"Hello World\".",
  "Resources": {
    "HelloWorld": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "HelloWorld"
      }
    }
  }
}
