<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="com.amazonaws.eclipse.photon" sequenceNumber="21">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.100.201801242337"/>
            <unit id="org.eclipse.sdk.feature.group" version="4.8.0.v20180611-0826"/>
            <unit id="org.eclipse.datatools.intro.feature.group" version="1.14.100.201801242337"/>
            <unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.14.100.201801242337"/>
            <unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.14.100.201802212225"/>
            <unit id="org.eclipse.datatools.sqldevtools.data.feature.feature.group" version="1.14.100.201805031905"/>
            <unit id="org.eclipse.swtbot.ide.feature.group" version="2.7.0.201806111355"/>
            <unit id="org.eclipse.egit.feature.group" version="5.0.0.201806131550-r"/>
            <unit id="org.eclipse.datatools.sqldevtools.parsers.feature.feature.group" version="1.14.100.201801242337"/>
            <unit id="org.eclipse.datatools.sqldevtools.feature.feature.group" version="1.14.100.201802061753"/>
            <unit id="org.eclipse.m2e.feature.feature.group" version="1.9.0.20180606-2036"/>
            <unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.14.100.201805031905"/>
            <unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.9.0.v201802222200"/>
            <unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.14.100.201802061819"/>
            <unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.4.0.20180606-2005"/>
            <unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.14.100.201801242337"/>
			<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.9.0.20180606-2036"/>
			<unit id="org.eclipse.mylyn.commons.feature.group" version="3.24.0.v20180613-1658"/>
            <repository location="http://download.eclipse.org/releases/photon/"/>
        </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk" version="1.4.201.v201802151734"/>
            <unit id="org.eclipse.jst.common.fproj.enablement.jdt.sdk.feature.group" version="3.8.0.v201802151734"/>
		    <unit id="org.eclipse.wst.common.fproj.sdk" version="1.4.501.v201802151734"/>
            <unit id="org.eclipse.wst.common.fproj.sdk.feature.group" version="3.7.1.v201802151734"/>
            <unit id="org.eclipse.jst.web_sdk.feature.feature.group" version="3.8.0.v201802202154"/>
            <unit id="org.eclipse.wst.web_sdk.feature.feature.group" version="3.10.0.v201804190136"/>
            <unit id="org.eclipse.jst.server_sdk.feature.feature.group" version="3.4.301.v201802152148"/>
            <unit id="org.eclipse.wst.server_adapters.sdk.feature.feature.group" version="3.2.601.v201802152148"/>
		    <repository location="https://archive.eclipse.org/webtools/downloads/drops/R3.10.0/R-3.10.0-20180611164516/repository"/>
	    </location>
    </locations>
</target>
