<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="com.amazonaws.eclipse.mars" sequenceNumber="3">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false"
      includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.5.2.v20160212-1500" />
      <unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500" />
      <unit id="org.eclipse.m2e.feature.feature.group" version="1.6.2.20150902-0002" />
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.6.2.20150902-0002" />
      <unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.2.1.20150819-2220" />
      <unit id="org.eclipse.m2e.wtp.sdk.feature.feature.group"
        version="1.2.1.20150819-2220" />
      <unit id="org.eclipse.egit.feature.group" version="4.1.1.201511131810-r" />
      <unit id="org.eclipse.egit.mylyn.feature.group" version="4.1.1.201511131810-r" />
      <unit id="org.eclipse.mylyn.commons.feature.group" version="3.18.0.v20151116-1930" />
      <unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.4.2.v201512181609" />
      <unit id="org.eclipse.datatools.sdk.feature.feature.group"
        version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w" />
      <unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group"
        version="1.12.0.v201406061321-7IAB-FE9JgeWjZZhMd-z0vb1ifD4" />
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302" />
      <repository location="http://download.eclipse.org/releases/mars/" />
    </location>
  </locations>
</target>
