<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.datatools.sqltools.data.ui.externalTableDataEditor">
      <externalEditor
            class="com.amazonaws.eclipse.datatools.enablement.simpledb.editor.SDBTextEditor"
            vendor="SimpleDB"
            version="1.0">
      </externalEditor>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.data.core.columnDataAccessors">
      <accessor
            class="com.amazonaws.eclipse.datatools.enablement.simpledb.editor.SimpleDBDataAccessor"
            dataType="TEXT"
            vendor="SimpleDB"
            version="1.0">
      </accessor>
   </extension>
   <extension
         point="org.eclipse.datatools.sqltools.data.core.columnDataAccessors">
      <accessor
            class="com.amazonaws.eclipse.datatools.enablement.simpledb.editor.SimpleDBIDDataAccessor"
            dataType="TEXTID"
            vendor="SimpleDB"
            version="1.0">
      </accessor>
   </extension>

</plugin>
